:root {
  --header-height: 80px;
  --info-light: #ffffff;
  --info-medium: #CCC;
  --my-green: #B4DE00;
  --background: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background);
    color:  var(--info-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: var(--header-height) 20px 80px;
    max-width: 1728px;
    margin: 0 auto;
}




