:root {
  --header-height: 80px;
  --footer-height: 80px;
  --info-light: #ffffff;
  --info-medium: #CCC;
  --my-green: #B4DE00;
  --background: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background);
    color:  var(--info-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 1728px;
    margin: 0 auto;
}

main {
    padding-top: var(--header-height); /* Основной отступ для хедера */
    padding-bottom: var(--footer-height);
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: clamp(25px, 2.5vw, 40px);
    color: var(--info-light);
}

h2{
    color: var(--info-medium);
    font-weight: 400;
    font-size: clamp(10px, 2.5vw, 25px);

}

.stat-value {
    font-size: clamp(35px, 2.5vw, 45px);
    font-weight: 700;
    color: var(--my-green);
    line-height: 1;
    margin-bottom: 8px;
}

#profile,
#form,
#image-gallery,
#countdown-container {
  scroll-margin-top: calc(var(--header-height));
  padding: 100px 0;
}


