.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
}


.popup-overlay.active {
  visibility: visible;
}

.popup-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  transform: scale(0.8);
  transition: transform 0.3s;
}

.popup-overlay.active .popup-content {
  transform: scale(1);
}

.popup-image {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 12px;
}

.popup-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-arrow {
  pointer-events: all;
  background: rgba(255,255,255,0.5);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrow.hidden {
  visibility: hidden;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
}

.image-description {
  color: var(--info-medium);
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}